In [49]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [50]:
# Question a
df = pd.read_csv("real_estate.csv")

# print(df.shape[0])
arr1 = list(df.index.values)
# print(arr1)
df = df.dropna()

arr2 = list(df.index.values)
# print(arr2)

removed = [ i for i in arr1 if i not in arr2 ]

print(removed)
# X = df[["age", "nearestMRT", "nConvenience"]].values

df = df.loc[:, ["age", "nearestMRT", "nConvenience", "price"]]

df

[19, 41, 109, 144, 230, 301]

      age  nearestMRT  nConvenience  price
0    32.0    84.87882          10.0   37.9
1    19.5   306.59470           9.0   42.2
2    13.3   561.98450           5.0   47.3
3    13.3   561.98450           5.0   54.8
4     5.0   390.56840           5.0   43.1
..    ...         ...           ...    ...
409  13.7  4082.01500           0.0   15.4
410   5.6    90.45606           9.0   50.0
411  18.8   390.96960           7.0   40.6
412   8.1   104.81010           5.0   52.5
413   6.5    90.45606           9.0   63.9

[408 rows x 4 columns]

In [53]:
# Question b

# preprocessing
from sklearn.preprocessing import MinMaxScaler


# X = df.loc[:, ["age", "nearestMRT", "nConvenience"]]
scaler = MinMaxScaler()
# X = scaler.fit_transform(X)
df[["age", "nearestMRT", "nConvenience"]] = pd.DataFrame(scaler.fit_transform(df[["age", "nearestMRT", "nConvenience"]].values),
                                                         columns=["age", "nearestMRT", "nConvenience"], index=df.index)
y = df["price"].values

np.mean(df[["age", "nearestMRT", "nConvenience"]], axis=0)

# D = df.to_numpy()

age             0.406079
nearestMRT      0.162643
nConvenience    0.412010
dtype: float64

In [56]:
# Question c

X = df[["age", "nearestMRT", "nConvenience"]].to_numpy()
# train/test split
X = np.concatenate((np.ones([len(X), 1]), X), axis=1)
split_point = X.shape[0] // 2
X_train = X[:split_point]
X_test = X[split_point:]
y_train = y[:split_point]
y_test = y[split_point:]

# printing
print("first row Xtrain: ", X_train[0][1:])
print("last row Xtrain: ", X_train[-1][1:])
print("first row Xtest: ", X_test[0][1:])
print("last row Xtest: ", X_test[-1][1:])
print("first row ytrain: ", y_train[0])
print("last row ytrain: ", y_train[-1])
print("first row ytest: ", y_test[0])
print("last row ytest: ", y_test[-1])

first row Xtrain:  [0.73059361 0.00951267 1.        ]
last row Xtrain:  [0.87899543 0.09926012 0.3       ]
first row Xtest:  [0.26255708 0.20677973 0.1       ]
last row Xtest:  [0.14840183 0.0103754  0.9       ]
first row ytrain:  37.9
last row ytrain:  34.2
first row ytest:  26.2
last row ytest:  63.9

In [ ]:
X = np.concatenate((np.ones([len(X), 1]), X), axis=1)

In [ ]:
X = np.concatenate((np.ones([len(X), 1]), X), axis=1)

In [ ]:
X